<ion-content class="ion-padding" swipeEnabled="false">
  <br />
  <h1 class="ion-text-center logo-white">
    Login
  </h1>
  <br />
  <ion-list lines="none">
    <form>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="text" #email required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Senha</ion-label>
        <ion-input type="password" #password required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="manter">Manter Login</ion-label>
        <ion-checkbox slot="start"></ion-checkbox>
      </ion-item>
    </form>
  </ion-list>

  <br />
  <ion-button
    ion-item
    color="dark"
    fill="outline"
    shape="round"
    expand="full"
    size="medium"
    type="submit"
  >
    Entrar
  </ion-button>
  <br />
  <ion-button
    ion-item
    color="dark"
    fill="clear"
    expand="full"
    routerLink="/cadastro"
  >
    Ainda não sou cadastrado!
  </ion-button>

</ion-content>
