ion-content{
    --background: rgb(241,196,0);
    --background: linear-gradient(45deg,  rgba(66,212,56,1) 0%, rgba(241,196,0,1) 100%);
}

ion-list{
    border-radius: 2%;
}

.manter{
    font-size: 12px !important;
}